.group-container {
  max-width: 1560px;
  margin: 30px auto;
  padding: 15px;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 13px;
  background-color: #fafafa;
  display: flex;
}

.header-container {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  display: center;
}

.group-content {
  margin-bottom: 15px;
}

.group-content h1 {
  font-size: 10px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}

.group-content h2 {
  font-size: 15px !important;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}

.group-info {
  display: flex;
  gap: 0px;
  font-size: 15px;
  font-weight: 200;
  line-height: 9px;
  letter-spacing: -0.03em;
  color: #282828;
  margin-bottom: 0px;
  margin-right: 800px;
}

.badges {
  display: flex;
  gap: 8px;
  margin-bottom: 0px;
}

.badges span {
  background-color: #dddddd;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 10px;
}

.group-meta {
  display: flex;
  gap: 5px;
  font-size: 4px;
  color: #8d8d8d;
  margin-bottom: 5px;
}

.group-image {
  margin-top: 5px;
  margin-bottom: 15px;
}

.group-image img {
  width: 500px; /* 원하는 너비 */
  height: 500px; /* 원하는 높이 */
  object-fit: cover; /* 비율 유지 */
  margin-right: 50px;
}

.group-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  margin-top: 50px;
  align-items: flex-end; /* 오른쪽 정렬 */
}

.buttons button {
  display: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #282828;
  padding: 6px 10px;
}

.buttons button img {
  margin-right: 4px;
}

.like-button {
  background-color: #282828;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 16px;
}

.group-stats {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.group-stats span {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.group-stats img {
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

.loading,
.error,
.not-found {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}
